---
import github from "../utils/img/icon/github-svgrepo-com.svg";
import git from "../utils/img/icon/git-svgrepo-com.svg";
import react from "../utils/img/icon/react-svgrepo-com.svg";
import javaScript from "../utils/img/icon/js-svgrepo-com.svg";
import html from "../utils/img/icon/html-5.svg";
import css from "../utils/img/icon/css-3.svg";
---

<section class="h-auto m-auto overflow-hidden">
  <ul class="flex sm:gap-48 gap-10 justify-center scroller">
    <li><img src={html} alt="html" class="sm:w-20 w-10" /></li>
    <li><img src={css} alt="css" class="sm:w-20 w-10" /></li>
    <li><img src={javaScript} alt="javaScript" class="sm:w-20 w-10" /></li>
    <li><img src={react} alt="react" class="sm:w-20 w-10" /></li>
    <li><img src={git} alt="git" class="sm:w-20 w-10" /></li>
    <li><img src={github} alt="github" class="sm:w-20 w-10" /></li>
    <li><img src={html} alt="html" class="sm:w-20 w-10" /></li>
    <li><img src={css} alt="css" class="sm:w-20 w-10" /></li>
    <li><img src={javaScript} alt="javaScript" class="sm:w-20 w-10" /></li>
    <li><img src={react} alt="react" class="sm:w-20 w-10" /></li>
    <li><img src={git} alt="git" class="sm:w-20 w-10" /></li>
    <li><img src={github} alt="github" class="sm:w-20 w-10" /></li>
    <li><img src={html} alt="html" class="sm:w-20 w-10" /></li>
    <li><img src={css} alt="css" class="sm:w-20 w-10" /></li>
    <li><img src={javaScript} alt="javaScript" class="sm:w-20 w-10" /></li>
    <li><img src={react} alt="react" class="sm:w-20 w-10" /></li>
    <li><img src={git} alt="git" class="sm:w-20 w-10" /></li>
    <li><img src={github} alt="github" class="sm:w-20 w-10" /></li>
  </ul>
</section>
